<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Form: A Responsive Form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class="container">
        <h1 class="brand"><span>Sumit</span> Kumar Yadav</h1>
        <div class="wrapper animated bounceInLeft">
            <div class="company-info">
                <h3>Sumit Kumar Yadav</h3>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i> Mumbai Maharashtra India</li>
                    <li><i class="fas fa-phone"></i> 9768040334</li>
                    <li><i class="fas fa-envelope"></i> sumit@binarynumbers.io</li>
                </ul>
            </div>
            <div class="contact">
                <h3>Email Me</h3>
                {{msg}}
                <form method="POST" action="send">
                    <p>
                        <label>Name</label>
                        <input type="text" placeholder="Enter your name..." name="name">
                    </p>
                    <p>
                        <label>Company</label>
                        <input type="text" placeholder="Company name..." name="company">
                    </p>
                    <p>
                        <label>Email Address</label>
                        <input type="email" placeholder="Your email address..." name="email">
                    </p>
                    <p>
                        <label>Phone Number</label>
                        <input type="text" placeholder="Phone number..." name="phone">
                    </p>
                    <p class="full">
                        <label>Message</label>
                        <textarea placeholder="Enter your message here..." name="message" rows="5"></textarea>
                    </p>
                    <p class="full">
                        <button type="submit">Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

</html>